* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: myFirstFont;
  src: url(../font/WerewolfMoon.otf);
}

body {
  /* background-color: lightgreen; */
}

.container {
  /* background-color: lightblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  font-family: myFirstFont;
}
.centerFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header */
header {
  /* background-color: pink; */
}

.gokuGif {
  border-radius: 500px;
  border: inset 5px silver;
  margin: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  /* color: #111;
  font-size: 30px; */
}

.title h1 {
  font-size: 40px;
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;}

.fa-clipboard-list {
  color: #111;
}



/* input */
.input {
  /* background-color: purple; */
  min-width: 500px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


.inputButton {
  min-height: 50px;
  width: 100px !important;
  /* cursor: pointer;
  font-family: 'Montserrat Alternates', sans-serif; */
}

.inputInput {
  height: 50px;
  min-width: 390px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: gold;
  background: #111;
  border-radius: 10px;
  border: none;
  padding-left: 20px;
}

::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: red;
}


/* output */
.output {
  /* background-color: gold; */
  min-width: 500px;
  /* color: red; */
}


.outputButton {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  border-radius: 10px;
}

.thing {
  text-align: center;
  margin-bottom: 5px;
  color: #111;
  background:
    linear-gradient(red, transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 500px;
  height: auto;
  border-radius: 10px;
}

.gokuRelax {
  width: 500px;
  border-radius: 500px;
  /* border: dotted 10px green; */
}

.centerFlex {
  color: red;
}


/* COMPONENTI GROSSI */
/* bottone motivational inizio */
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-family: 'Montserrat Alternates', sans-serif;
  margin-bottom: 20px;

}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
/* bottone motivation fine */
